<!DOCTYPE html>
<html>
<head>
  <title>Forum101</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="myNav">
  <div class="container">
    <div class="row">
        nav
    </div>
  </div>
</div>
<div class="maincontent">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= yield %>
      </div>
    </div>
  </div>
</div>


</body>
</html>
